<section class="imb-user-profile">
  <div class="container h-75 d-flex align-items-center">
    <div class="row mx-end">
      <div class="col-xl fs-2 fw-bold text-white">
        <span><%= @user.email %></span>
      </div>
      <div class="col-xl text-white my-2">
        <span><%= button_to "Follow", follow_relationship_path(@user.id) %></span>
      </div>
    </div>
  </div>
  <div class="container h-25 d-flex align-items-end">
    <div class="row mx-auto">
      <div class="col-xl h-100 imb-profile-link <%= 'active' if current_page?(feeds_user_path(@user.id))%>">
        <%= link_to "Feed", feeds_user_path(@user.id), class: 'px-2' %>
      </div>

      <div class="col-xl h-100 imb-profile-link <%= 'active' if current_page?(posts_user_path(@user.id))%>">
        <%= link_to "Posts", posts_user_path(@user.id), class: 'px-2' %>
      </div>

      <div class="col-xl h-100 imb-profile-link <%= 'active' if current_page?(comments_user_path(@user.id))%>">
        <%= link_to "Comments", comments_user_path(@user.id), class: 'px-2' %>
      </div>

      <div class="col-xl h-100 imb-profile-link <%= 'active' if current_page?(about_user_path(@user.id))%>">
        <%= link_to "About", about_user_path(@user.id), class: 'px-2' %>
      </div>
    </div>
  </div>
</section>
