<p style="color: green"><%= notice %></p>

<section class="container">
  <div class="row">
    <div class="col-xl imb-like">
      <div>
        <%= button_to upvote_likes_path, params: { like: {parent_type: 'Post', parent_id: @post.id } }, class: 'imb-like-button' do %>
          <% if @upvote.present? %>
            <i class="bi bi-file-arrow-up-fill mx-3 imb-like-icon" style="font-size: 3vh;"></i>
          <% else %>
            <i class="bi bi-file-arrow-up-fill mx-3 imb-like-icon" style="font-size: 3vh; color: cornflowerblue;"></i>
          <% end %>
        <% end %>
      </div>

      <div class="mx-3">
        <label class='mx-2'>
          <%= @post.likes_count %>
        </label>
      </div>

      <div>
        <%= button_to downvote_likes_path, params: { like: {parent_type: 'Post', parent_id: @post.id } }, class: 'imb-like-button' do %>
          <% if @downvote.present? %>
            <i class="bi bi-file-arrow-down-fill mx-3 imb-like-icon" style="font-size: 3vh;"></i>
          <% else %>
            <i class="bi bi-file-arrow-down-fill mx-3 imb-like-icon" style="font-size: 3vh; color: cornflowerblue;"></i>
          <% end %>
        <% end %>
        <!-- <a href="#">
         <i class="bi bi-file-arrow-down-fill mx-3" style="font-size: 3vh; color: cornflowerblue;"></i>
        </a> -->
      </div>

      <div class="mx-2">
        <div class="d-flex">
          <i class="bi bi-eye-fill"></i>
          <span class="ms-2">
            <%= @post.views_count %>
          <span>
        </div>
      </div>
    </div>

    <div class="col-xl imb-post">
      <div class="card w-50">
        <%= image_tag @post.image %>
        <div class="card-body">

          <h6 class="card-title"><%= @post.creator.email %></h5>
          <h4 class="card-title"><%= @post.title %></h5>
          <p class="card-text"><%= @post.body %></p>

          <%= link_to "", post_path(@post), class: "stretched-link" %>
        </div>
      </div>

      <div class="mt-5 w-50">
        <%= form_with model: @comment do |f| %>
          <div class="row" style="height: 90%;">
            <%= f.text_area :content, placeholder: 'Write comment', class: 'form-control' , size: "30x5" %>
          </div>
          <%= f.hidden_field :parent_id, value: @post.id %>
          <%= f.hidden_field :parent_type, value: :Post %>
          <div class="row" style="height: 10%">
            <div class="col-xl-10 py-3">
            </div>
            <div class="col-xl-2 py-3 ms-auto px-5">
              <%= f.submit 'Post', class: 'btn btn-primary btn-sm' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <!-- <div>
    <%= link_to "Edit this post", edit_post_path(@post) %> |
    <%= link_to "Back to posts", posts_path %>

    <%= button_to "Destroy this post", @post, method: :delete %>
  </div> -->
</section>

