<!DOCTYPE html>
<html>
  <head>
    <title>ImageBuddy</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
<!--<p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->

    <div class="page-header">
      <%= render "layouts/header" %>
    </div>
    <main class="page-body">
      <%= yield %>
      <section height="200"></section>
    </main>
    <div class="page-footer">
      <%= render "layouts/footer" %>
    </div>
  </body>
</html>
